<app-navbar></app-navbar>
<ul class="breadcrumb">
  <li><a  routerLink="">Home</a></li>
  <li>Employees</li>
</ul>
<!-- Button trigger modal -->
<div class="container">
<br>
<button routerLink=""
            class="m-1 btn btn-danger float-right m-2" Button>Back</button>
<button type="button" class="btn btn-primary " 
data-toggle="modal" data-target="#exampleModal"
(click)="addClick()"
data-backdrop="static" data-keyboard="false"
>
    Add Employee
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="Modalview" tabindex="-1" role="dialog" aria-labelledby="Modalview" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6>{{EmployeeListview.EmployeeName | titlecase}} Details&nbsp;:</h6>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
      <div class="container">
    
        <div class="row">
                 <div class="col-sm-12">
                     
                      <div class="row">
                          <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black"><b>EmployeeId&nbsp;:</b></p>
                         <p class="col-sm-8">{{EmployeeListview.EmployeeId}}</p>
                     </div>
                     <div class="row">
                          <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Employee Name&nbsp;:</b></p>
                         <p class="col-sm-8">{{EmployeeListview.EmployeeName | titlecase}}</p>
                     </div>
                     <div class="row">
                          <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>Department&nbsp;:</b></p>
                         <p class="col-sm-8">{{EmployeeListview.Department}}</p>
                     </div>
                     <div class="row">
                          <p class="col-sm-4 text-muted text-sm-right mb-0 mb-sm-3" style="color: black" style="color: black"><b>DateOfJoining&nbsp;:</b></p>
                         <p class="col-sm-8">{{EmployeeListview.DateOfJoining}}</p>
                     </div>
                     
                    
                  </div>
                  </div>
                  </div>
            
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" 
          data-dismiss="modal" aria-label="Close"
          (click)="closeClick()" >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <app-add-edit-emp [emp]="emp" *ngIf="ActivateAddEditEmpComp">
            </app-add-edit-emp>
        </div>
      </div>
    </div>
  </div>
  


<table class="table table-striped">
    <thead>
        <tr>
            <th>
            EmployeeId</th>
            <th>EmployeeName</th>
            <th>Department</th>
            <th>DateOfJoining</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of EmployeeList">
            <td>{{dataItem.EmployeeId}}</td>
            <td>{{dataItem.EmployeeName}}</td>
            <td>{{dataItem.Department}}</td>
            <td>{{dataItem.DateOfJoining}}</td>
            <td>
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#exampleModal"
(click)="editClick(dataItem)"
data-backdrop="static" data-keyboard="false"
                >
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
                </button>
                <button type="button" class="btn btn-light mr-1"
                (click)="deleteClick(dataItem)"
                >
                  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                  </svg>
                </button>
                <button type="button" class="btn btn-light mr-1"
                data-toggle="modal" data-target="#Modalview"
(click)="viewClick(dataItem)"
data-backdrop="static" data-keyboard="false"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
</svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>
</div>
