<nav class="navbar navbar-default navbar-expand">
  <div class="container-fluid">
    <div class="navbar-header">
      <h5 style="font-style:normal"><b>Employee Management System</b></h5>
    </div>
    <ul class="nav navbar-nav navbar-left">
      <li class="nav-item">
        <button [routerLink]="['/']"
        class="m-1 btn btn-light btn-outline-primary" Button>Home</button>
    </li>
      <li class="nav-item">
            <button [routerLink]="['/department']"
            class="m-1 btn btn-light btn-outline-primary" Button>Departments</button>
        </li>

        <li class="nav-item">
            <button [routerLink]="['/employee']"
            class="m-1 btn btn-light btn-outline-primary" Button>Employees</button>
        </li>

        <li class="nav-item">
            <button [routerLink]="['/project']"
            class="m-1 btn btn-light btn-outline-primary" Button>Projects</button>
        </li>
        <li class="nav-item">
            <button [routerLink]="['/task']"
            class="m-1 btn btn-light btn-outline-primary" Button>Tasks</button>
        </li>
    
   

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li  class="nav-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/></svg><a>Hello!
        {{currentUser.username}}</a>
    </li>&nbsp;&nbsp;&nbsp;
    
       <li class="nav-item">
        
        <i class="fa fa-sign-out" style="font-size:20px;color: #000;"></i><a [routerLink]="['/login']" style="color: #000;text-decoration: none;">Logout</a>
        
    </li>
    </ul>
  </div>
</nav>
<br>
<br>





